doctype html
html.page(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/style.css", type="text/css" )
  body
    .email-container
      .email-header
        .email-center
          a.email-logo(href="#")
            img(src="img/logo.png", alt="logo")
          .email-social-wrap
            a(href="#")
              img(src="img/soc_twitter.png")
